#carousel-generic {
  width: 60%;
  margin: auto;
}

.mainpart {
  /* background-color: #fff; */
  width: 60%;
  margin: auto;
  clear: both;
}

.table-area {
  text-align: left;
  overflow: hidden; /*自动隐藏文字*/
  text-overflow: ellipsis;/*文字隐藏后添加省略号*/
  white-space: nowrap;/*强制不换行*/
}

.tableTitle {
  height: 45px;
  line-height: 45px;
}

.titleLeft {
  width: 14px;
  display: inline-block;
}

.more {
  float: right;
}