.top {
  background-image: url(../img/topBg.png);
}

.topContent {
  width: 50%;
  margin: auto;
}

.topContent h1 {
  display: inline-block;
}

.signIn {
  float: right;
}

nav {
  background-color: #2b2b2b;
  border: none !important;
}

nav div li:hover{
  background-color: #f13a3a;
}

.container-fluid {
  width:1100px; 
  margin: auto;
}

#carousel-generic {
  width: 50%;
  margin: auto;
}

.mainpart {
  width: 50%;
  margin: auto;
}

.tableArea {
  width: 50%;
  float: left;
  text-align: left;
  padding: 10px;
}

.tableTitle {
  height: 45px;
  line-height: 45px;
}

.titleLeft {
  width: 14px;
  display: inline-block;
}

.more {
  float: right;
}