

#carousel-generic {
  width: 50%;
  margin: auto;
}

.mainpart {
  width: 50%;
  margin: auto;
}

.tableArea {
  width: 50%;
  float: left;
  text-align: left;
  padding: 10px;
}

.tableTitle {
  height: 45px;
  line-height: 45px;
}

.titleLeft {
  width: 14px;
  display: inline-block;
}

.more {
  float: right;
}