.list-content {
  height: 72px;
}

.list-lineheight {
  line-height: 50px;
}

.btn-article {
  height: 72px;
  line-height: 58px;
}

.tab-list {
  width: 80%;
  margin: 25px auto 0;
}

.page-list {
  margin: 25px auto;
}