.top {
  background-image: url(../img/topBg.png);
  padding: 20px 0;
  height: 120px;
  overflow: hidden;
}

.topContent {
  width: 80%;
  height: 80px;
  margin: auto;
}
.website-title {
  height: 80px;
  display: inline-block;
}

.user-info {
  height: 80px;
  float: right;
}

.user-name {
  height: 30px;
  line-height: 30px;
}

nav {
  background-color: #2b2b2b;
  /* border: none !important; */
  width: 100%;
  height: 56px;
}

.navbar-inverse .navbar-nav > li {
  height: 56px;
}
.navbar-inverse .navbar-nav > li > a {
  height: 56px;
  line-height: 26px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

.navbar-self {
  width: 80%; 
  margin: auto; 
}

nav div li:hover{
  background-color: #f13a3a;
}

.container {
  width: 80% !important;
}

.navbar-nav {
  float: none;
  height: 56px;
}