.top {
  background-image: url(../img/topBg.png);
}

.topContent {
  width: 60%;
  height: 80px;
  margin: auto;
}

.sign-in {
  float: right;
}

nav {
  background-color: #2b2b2b;
  border: none !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

nav div li:hover{
  background-color: #f13a3a;
}

.container {
  width:870px; 
  margin: auto;
}
